<!-- Tabs -->
<div class="scrollable">
  <div class="scrollable-content">
    <div class='section'>
      <ui-state id='activeTab' default='1'></ui-state>
      <div class="btn-group justified nav-tabs">
        <a ui-set="{'activeTab': 1}"
        ui-class="{'active': activeTab == 1}" class="btn btn-default"> All </a>
        <a ui-set="{'activeTab': 2}"
        ui-class="{'active': activeTab == 2}" class="btn btn-default"> Popular </a>
        <a ui-set="{'activeTab': 3}"
        ui-class="{'active': activeTab == 3}" class="btn btn-default"> Upcoming</a>
      </div>
      <div ui-if="activeTab == 1">

          <div class="scrollable-content">
            <div ng-controller="ListCtrl">
              <div class="well well-small" ng-repeat="entry in feed_result.entries" ng-cloak>
                <h4><a href="" ng-click="viewDetail(entry)">{{entry.title}}</a></h4>
                <p>
                  Posted: {{entry.publishedDate}} -
                  <span class="label label-info" ng-repeat="category in entry.categories">{{category}}</span>
                </p>
              </div>
            </div>
          </div>

      </div>
      <div ui-if="activeTab == 2">

          <div class="scrollable-content">
            <div ng-controller="ListCtrl">
              <div class="well well-small" ng-repeat="entry in feed_result.entries" ng-cloak>
                <h4><a href="" ng-click="viewDetail(entry)">{{entry.title}}</a></h4>
                <p>
                  Posted: {{entry.publishedDate}} -
                  <span class="label label-info" ng-repeat="category in entry.categories">{{category}}</span>
                </p>
              </div>
            </div>
          </div>

      </div>
      <div ui-if="activeTab == 3">

          <div class="scrollable-content">
            <div ng-controller="ListCtrl">
              <div class="well well-small" ng-repeat="entry in feed_result.entries" ng-cloak>
                <h4><a href="" ng-click="viewDetail(entry)">{{entry.title}}</a></h4>
                <p>
                  Posted: {{entry.publishedDate}} -
                  <span class="label label-info" ng-repeat="category in entry.categories">{{category}}</span>
                </p>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>